/* table idea from http://codeitdown.com/css-square-rectangle/ */
main {
  color: black;
  width: 256px;
  height: 128px;
}
#container {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
/* each row */
tr {
  height: 1px;
}
/* each pixel */
td {
  padding: 0px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1px;
  color: transparent;
}
